@{
    ViewBag.Title = "Error";
}

@section Head{

}

<br />
<br />
<h2 style="color:rgb(53, 113, 190)">OOPS, Something went wrong ! </h2><br />
<h2 style="color:rgb(53, 113, 190)">Do not Panic ! The world will not end ! </h2><br />
 <h2 style="color:rgb(53, 113, 190)">Please contact the Admin ! He is a very friendly guy ! ;)  </h2>
