@{
    ViewBag.Title = "Thankyou";
}

<h2 style="color:rgb(53, 113, 190)">Thank You</h2>

<form action = "" name="studentDetails" id="studentDetails" method="post" enctype="multipart/form-data">

<div class="box fltlft" style="width:45%">
    
    <label>
        <span>USN</span>
        <input type="text" class="input_text" name="USN" id="USN" value="@Model.USN" readonly="readonly" />        
    </label>

    </div>
