@model OTAS2.Domain.Entities.Students
@{
    ViewBag.Title = "Details";
}
@section Head
{
<link rel="Stylesheet" href="
}
<form action="">
<div class="box">
    <h1>
        Contact Form :</h1>
    <label>
        <span>Full name</span>
        <input type="text" class="input_text" name="name" id="name" value="@Model.Name" disabled="disabled" />        
    </label>
    <label>
        <span>Email</span>
        <input type="text" class="input_text" name="email" id="email" />
    </label>
    <label>
        <span>Subject</span>
        <input type="text" class="input_text" name="subject" id="subject" />
    </label>
    <label>
        <span>Message</span>
        <textarea class="message" name="feedback" id="feedback"></textarea>
        <input type="button" class="button" value="Submit Form" />
    </label>
</div>
</form>
