@model IList<OTAS2.Domain.Entities.TeacherSummary>
@{
    ViewBag.Title = "Summary";
}
@section Head
{

}

<h2>Summary</h2>
<table border="1">
    <tr>
        <th>
            Teacher Name
        </th>
        <th>
            Subject Code
        </th>
        <th>
            Subject Name
        </th>        
    </tr>    
@foreach (var i in Model)
{
    <tr>
        <td>
            @i.TeacherName
        </td>
        <td>
            @i.SubCode
        </td>
        <td>
            @i.SubName
        </td>
    </tr>
    
}
</table>
<button value="Continue" id = "Rating" name = "Rating" onclick="window.location.href='@Url.Action("Rating","Main")'" />