@using Ext.Net;
@using Ext.Net.MVC;
@model OTAS2.Domain.Entities.TeacherSummary
@{
    ViewBag.Title = "Rating";    
    string comboID = Model.ComboId;
}

@section Head
{

   <script type="text/javascript">
       var sel = "";

       function getVals() {
           var flag = false;
           var unAnswered = "";
           sel = "";
           if ($("input[name='q1']:checked").val() == null) {
               flag = true;
               unAnswered = unAnswered + "1,";
           }
           sel = sel + $("input[name='q1']:checked").val() + ",";
           if ($("input[name='q2']:checked").val() == null) {
               flag = true;
               unAnswered = unAnswered + "2,";
           }
           sel = sel + $("input[name='q2']:checked").val() + ",";
           
           if ($("input[name='q3']:checked").val() == null) {
               flag = true;
               unAnswered = unAnswered + "3,";
           }
           sel = sel + $("input[name='q3']:checked").val() + ",";

           if ($("input[name='q4']:checked").val() == null) {
               flag = true;
               unAnswered = unAnswered + "4,";
           } 
           sel = sel + $("input[name='q4']:checked").val() + ",";
           if ($("input[name='q5']:checked").val() == null) {
               flag = true;
               unAnswered = unAnswered + "5,";
           }
           sel = sel + $("input[name='q5']:checked").val() + ",";

           if ($("input[name='q6']:checked").val() == null) {
               flag = true;
               unAnswered = unAnswered + "6,";
           }
            sel = sel + $("input[name='q6']:checked").val() + ",";
            if ($("input[name='q7']:checked").val() == null) {
                flag = true;
                unAnswered = unAnswered + "7,";
            }
           sel = sel + $("input[name='q7']:checked").val() + ",";
           if ($("input[name='q8']:checked").val() == null) {
               flag = true;
               unAnswered = unAnswered + "8,";
           }
           sel = sel + $("input[name='q8']:checked").val() + ",";
           if ($("input[name='q9']:checked").val() == null) {
               flag = true;
               unAnswered = unAnswered + "9,";
           }
           sel = sel + $("input[name='q9']:checked").val() + ",";
           if ($("input[name='q10']:checked").val() == null) {
               flag = true;
               unAnswered = unAnswered + "10,";
           }
           sel = sel + $("input[name='q10']:checked").val();

           if (flag == true)
               alert("Questions : " + unAnswered + " have not been answered ! ");
           else
           {
           var url = '@Html.Raw(Url.Action("Rating", new { comboID = comboID, options = "sel" }))';
           url = url.replace("sel", sel);
           document.location.href = url;
           }
       }


   </script>
   }


<form action="">

<div class="out">
<div class="fltlft">
<h2> Teacher : </h2>
</div>

<div class="fltrt">
<h2> Subject : </h2>
</div>

<div class="clearfloat">&nbsp;</div>

<div class = "radio">
    <p>Question1</p>
    <div class="options">
        <label ><input type="radio" id="a1" name="q1" value="4" />Option A</label>
        <label ><input type="radio" id="a2" name="q1" value="3" />Option B</label>
        <label ><input type="radio" id="a3" name="q1" value="2" />Option C</label>
        <label ><input type="radio" id="a4" name="q1" value="1" />Option D</label>
    </div>
</div>

<div class="radio" >
    <p>Question2</p>
    <div class="options">
        <label ><input type="radio" id="a5" name="q2" value="4" />Option A</label>
        <label ><input type="radio" id="a6" name="q2" value="3" />Option B</label>
        <label ><input type="radio" id="a7" name="q2" value="2" />Option C</label>
        <label ><input type="radio" id="a8" name="q2" value="1" />Option D</label>
    </div>    
</div>

<div class="radio" >
    <p>Question3</p>
    <div class="options">
        <label ><input type="radio" id="a9" name="q3" value="4" />Option A</label>
        <label ><input type="radio" id="a10" name="q3" value="3" />Option B</label>
        <label ><input type="radio" id="a11" name="q3" value="2" />Option C</label>
        <label ><input type="radio" id="a12" name="q3" value="1" />Option D</label>
    </div>    
</div>

<div class="radio" >
    <p>Question4</p>
    <div class="options">
        <label ><input type="radio" id="a13" name="q4" value="4" />Option A</label>
        <label ><input type="radio" id="a14" name="q4" value="3" />Option B</label>
        <label ><input type="radio" id="a15" name="q4" value="2" />Option C</label>
        <label ><input type="radio" id="a16" name="q4" value="1" />Option D</label>
    </div>    
</div>
<div class="radio" >
    <p>Question5</p>
    <div class="options">
        <label ><input type="radio" id="a17" name="q5" value="4" />Option A</label>
        <label ><input type="radio" id="a18" name="q5" value="3" />Option B</label>
        <label ><input type="radio" id="a19" name="q5" value="2" />Option C</label>
        <label ><input type="radio" id="a20" name="q5" value="1" />Option D</label>
    </div>    
</div>
<div class="radio" >
    <p>Question6</p>
    <div class="options">
        <label ><input type="radio" id="a21" name="q6" value="4" />Option A</label>
        <label ><input type="radio" id="a22" name="q6" value="3" />Option B</label>
        <label ><input type="radio" id="a23" name="q6" value="2" />Option C</label>
        <label ><input type="radio" id="a24" name="q6" value="1" />Option D</label>
    </div>    
</div>
<div class="radio" >
    <p>Question7</p>
    <div class="options">
        <label ><input type="radio" id="a25" name="q7" value="4" />Option A</label>
        <label ><input type="radio" id="a26" name="q7" value="3" />Option B</label>
        <label ><input type="radio" id="a27" name="q7" value="2" />Option C</label>
        <label ><input type="radio" id="a28" name="q7" value="1" />Option D</label>
    </div>    
</div>

<div class="radio" >
    <p>Question8</p>
    <div class="options">
        <label ><input type="radio" id="a29" name="q8" value="4" />Option A</label>
        <label ><input type="radio" id="a30" name="q8" value="3" />Option B</label>
        <label ><input type="radio" id="a31" name="q8" value="2" />Option C</label>
        <label ><input type="radio" id="a32" name="q8" value="1" />Option D</label>
    </div>    
</div>

<div class="radio" >
    <p>Question9</p>
    <div class="options">
        <label ><input type="radio" id="a33" name="q9" value="4" />Option A</label>
        <label ><input type="radio" id="a34" name="q9" value="3" />Option B</label>
        <label ><input type="radio" id="a35" name="q9" value="2" />Option C</label>
        <label ><input type="radio" id="a36" name="q9" value="1" />Option D</label>
    </div>    
</div>

<div class="radio" >
    <p>Question10</p>
    <div class="options">
        <label ><input type="radio" id="a37" name="q10" value="4" />Option A</label>
        <label ><input type="radio" id="a38" name="q10" value="3" />Option B</label>
        <label ><input type="radio" id="a39" name="q10" value="2" />Option C</label>
        <label ><input type="radio" id="a40" name="q10" value="1" />Option D</label>
    </div>    
</div>


<div>

</div>


</div>

<br /><br />
<div class="fltrt">
<input class="submitButton" type="button" onclick="getVals()" id="send" value="Submit" />
</div>

</form>
