@using Ext.Net;
@using Ext.Net.MVC;
@model OTAS2.Domain.Entities.TeacherSummary
@{
    ViewBag.Title = "Rating";    
    string comboID = Model.ComboId;
}

@section Head
{

   <script type="text/javascript">
       var sel = "";

       function getVals() {
           var flag = false;
           var unAnswered = "";
           sel = "";
           if ($("input[name='q1']:checked").val() == null) {
               flag = true;
               unAnswered = unAnswered + "1,";
           }
           sel = sel + $("input[name='q1']:checked").val() + ",";
           if ($("input[name='q2']:checked").val() == null) {
               flag = true;
               unAnswered = unAnswered + "2,";
           }
           sel = sel + $("input[name='q2']:checked").val() + ",";
           
           if ($("input[name='q3']:checked").val() == null) {
               flag = true;
               unAnswered = unAnswered + "3,";
           }
           sel = sel + $("input[name='q3']:checked").val() + ",";

           if ($("input[name='q4']:checked").val() == null) {
               flag = true;
               unAnswered = unAnswered + "4,";
           } 
           sel = sel + $("input[name='q4']:checked").val() + ",";
           if ($("input[name='q5']:checked").val() == null) {
               flag = true;
               unAnswered = unAnswered + "5,";
           }
           sel = sel + $("input[name='q5']:checked").val() + ",";

           if ($("input[name='q6']:checked").val() == null) {
               flag = true;
               unAnswered = unAnswered + "6,";
           }
            sel = sel + $("input[name='q6']:checked").val() + ",";
            if ($("input[name='q7']:checked").val() == null) {
                flag = true;
                unAnswered = unAnswered + "7,";
            }
           sel = sel + $("input[name='q7']:checked").val() + ",";
           if ($("input[name='q8']:checked").val() == null) {
               flag = true;
               unAnswered = unAnswered + "8,";
           }
           sel = sel + $("input[name='q8']:checked").val() + ",";
           if ($("input[name='q9']:checked").val() == null) {
               flag = true;
               unAnswered = unAnswered + "9,";
           }
           sel = sel + $("input[name='q9']:checked").val() + ",";
           if ($("input[name='q10']:checked").val() == null) {
               flag = true;
               unAnswered = unAnswered + "10,";
           }
           sel = sel + $("input[name='q10']:checked").val();

           if (flag == true)
               alert("Questions : " + unAnswered + " have not been answered ! ");
           else
           {
           var url = '@Html.Raw(Url.Action("Rating", new { comboID = comboID, options = "sel" }))';
           url = url.replace("sel", sel);
           document.location.href = url;
           }
       }


   </script>
   }


<form action="">

<div class="out">
<div class="fltlft">
<h4> @Model.TeacherName</h4>
</div>

<div class="fltrt">
<h4> @Model.SubName </h4>
</div>

<div class="clearfloat">&nbsp;</div>

<hr />
<div class = "radio">
    <p>1. Effective Communication and Clarity in Explanation </p>
    <div class="options">
        <label ><input type="radio" id="a1" name="q1" value="4" />Very Effective and Clear</label>
        <label ><input type="radio" id="a2" name="q1" value="3" />Effective and Understandable</label>
        <label ><input type="radio" id="a3" name="q1" value="2" />Moderately Effective and Reasonably Clear</label>
        <label ><input type="radio" id="a4" name="q1" value="1" />Ineffective and Not Clear</label>
    </div>
</div>

<div class="radio" >
    <p>2.Preparedness and Depth of Subject Knowledge (Relevant Practical Applications wherever applicable)</p>
    <div class="options">
        <label ><input type="radio" id="a5" name="q2" value="4" />In-Depth</label>
        <label ><input type="radio" id="a6" name="q2" value="3" />Adequate</label>
        <label ><input type="radio" id="a7" name="q2" value="2" />Moderate</label>
        <label ><input type="radio" id="a8" name="q2" value="1" />Inadequates</label>
    </div>    
</div>

<div class="radio" >
    <p>3.Time Management (Effective use of the class hour and timely coverage of syllabus)</p>
    <div class="options">
        <label ><input type="radio" id="a9" name="q3" value="4" />Complete Utilization and Satisfactory Coverage</label>
        <label ><input type="radio" id="a10" name="q3" value="3" />Complete Utilization and Moderate Coverage</label>
        <label ><input type="radio" id="a11" name="q3" value="2" />Partial Utilization and Moderate Coverage</label>
        <label ><input type="radio" id="a12" name="q3" value="1" />Partial Utilization and Unsatisfactory Coverage</label>
    </div>    
</div>

<div class="radio" >
    <p>4.Enforcement of Discipline in the class</p>
    <div class="options">
        <label ><input type="radio" id="a13" name="q4" value="4" />Excellent Control</label>
        <label ><input type="radio" id="a14" name="q4" value="3" />Good Control</label>
        <label ><input type="radio" id="a15" name="q4" value="2" />Moderate Control</label>
        <label ><input type="radio" id="a16" name="q4" value="1" />Poor Control</label>
    </div>    
</div>
<div class="radio" >
    <p>5.Invites Questions and Encourages Thinking (Motivating the class towards Enhanced Learning)</p>
    <div class="options">
        <label ><input type="radio" id="a17" name="q5" value="4" />Most of the time</label>
        <label ><input type="radio" id="a18" name="q5" value="3" />Occasionally</label>
        <label ><input type="radio" id="a19" name="q5" value="2" />Rarely</label>
        <label ><input type="radio" id="a20" name="q5" value="1" />Never</label>
    </div>    
</div>
<div class="radio" >
    <p>6.Provides discussions on Problems, Programs, Assignments, Quiz, case studies/situation analysis, Exam questions and Illustrations</p>
    <div class="options">
        <label ><input type="radio" id="a21" name="q6" value="4" />Most of the time</label>
        <label ><input type="radio" id="a22" name="q6" value="3" />Occasionally</label>
        <label ><input type="radio" id="a23" name="q6" value="2" />Rarely</label>
        <label ><input type="radio" id="a24" name="q6" value="1" />Never</label>
    </div>    
</div>
<div class="radio" >
    <p>7.Availability, Accessibility and Approachability for clarifications outside the Class</p>
    <div class="options">
        <label ><input type="radio" id="a25" name="q7" value="4" />Most of the time</label>
        <label ><input type="radio" id="a26" name="q7" value="3" />Occasionally</label>
        <label ><input type="radio" id="a27" name="q7" value="2" />Rarely</label>
        <label ><input type="radio" id="a28" name="q7" value="1" />Never</label>
    </div>    
</div>

<div class="radio" >
    <p>8.Study materials (Lecture notes, handouts, PPTs, etc.)</p>
    <div class="options">
        <label ><input type="radio" id="a29" name="q8" value="4" />Very Useful</label>
        <label ><input type="radio" id="a30" name="q8" value="3" />Satisfactory</label>
        <label ><input type="radio" id="a31" name="q8" value="2" />Moderate</label>
        <label ><input type="radio" id="a32" name="q8" value="1" />Less Useful</label>
    </div>    
</div>

<div class="radio" >
    <p>9.Coverage of Syllabus</p>
    <div class="options">
        <label ><input type="radio" id="a33" name="q9" value="4" />Well Covered</label>
        <label ><input type="radio" id="a34" name="q9" value="3" />Adequate</label>
        <label ><input type="radio" id="a35" name="q9" value="2" />Moderate</label>
        <label ><input type="radio" id="a36" name="q9" value="1" />Poorly Covered</label>
    </div>    
</div>

<div class="radio" >
    <p>10.Evaluation of Tests/Assignments with suggestions for Improvement</p>
    <div class="options">
        <label ><input type="radio" id="a37" name="q10" value="4" />Very Fair</label>
        <label ><input type="radio" id="a38" name="q10" value="3" />Fair</label>
        <label ><input type="radio" id="a39" name="q10" value="2" />Satisfactory</label>
        <label ><input type="radio" id="a40" name="q10" value="1" />Unfair</label>
    </div>    
</div>


<div>

</div>


</div>

<br /><br />
<div class="fltrt">
<input class="submitButton" type="button" onclick="getVals()" id="send" value="Submit" />
</div>

</form>
